.board {
    position: relative;

    display: flex;
    flex: 1;
    min-height: 0;

    gap: 16px;

    width: 100%;
    padding: 0 0 12px;

    align-items: stretch;

    overflow-x: auto;
    overflow-y: hidden;
}